<header id="detail-header">
    <h1>{{model.business.name}}</h1>
</header>

<header id="detail-body">
    <ol><b>Address: </b>{{model.business.location.address1}}, {{model.business.location.city}}, {{model.business.location.state}}</ol>
    <ol><b>Rating: </b>{{model.business.rating}}</ol>
    <ol><b>Total Reviews: </b>{{model.business.review_count}}</ol>
    <ol>{{model.business.display_phone}}</ol>
    <ol><a target="_blank" href='{{model.business.url}}'><b>View Yelp Reviews</b></a></ol>
    <ol>{{#if model.favorite}}
        <button class="save" {{action 'unsave'}}> Unsave</button>
    {{else}}
    <button class="save" {{action 'save'}}> Save</button>
    {{/if}}</ol>
    <img src="{{model.business.photos}}">
</header>

{{!-- <li>{{model.coordinates.latitude}}, {{model.coordinates.longitude}}</li> --}}
    
{{outlet}}